<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script>

        $(document).ready(function () {
            SmallHeader();
            ChangeRuFrontSize();
        });

        $(window).resize(function () {
            
            if (window.innerWidth > 641) {
                alert("размер больше 641");
                var weightbrowse = window.innerWidth;
                $('div.row.header').css("width", weightbrowse);
                $('div.row.header').css("height", "100px");
                if ($('#button-menu').length)
                {
                    alert("удаляем мобильное меню");
                    $("#qqqq").empty();
                    
                }
            }
            else {
                alert("размер меньше  641");
                var weightbrowse = window.innerWidth;
                $('div.row.header').css("width", weightbrowse);
                if ($("#menuselect").css("visibility") == "visible") {
                    alert("если видимое тогда и оставляем видимое");
                    SmallHeader();
                    $("#menuselect").css("visibility", "visible");
                }
                else {
                    SmallHeader();
                }           
                
                ChangeRuFrontSize();
            }

        });

        function  ChangeRuFrontSize()
        {
            cookiesArray = document.cookie.split('; ');
            cookiesLang = cookiesArray[cookiesArray.length - 1];
            lang = cookiesLang.substr(cookiesLang.length - 2, 2)
            if (window.innerWidth < 425) {
                if (lang == "ru") {
                    $("#menuselect").css("font-size", "16px");
                }
            }
            if (window.innerWidth <375)
            {
                if (lang == "ru") {
                    $("#menuselect").css("font-size", "14px");
                }
                
            }
        }

        function SmallHeader() {
            var weightbrowse = window.innerWidth;
            alert("нужно ли рисовать ");
            if (weightbrowse < 641) {
                alert("рисуем ");
                $("#qqqq").html('<button id="button-menu" onclick="ResizeHeader()"><hr class="menu-button-line" /><hr class="menu-button-line" /><hr class="menu-button-line" /></button><ul id="menuselect"><li><a href="#/">@Resources.Resource.ServerSolution</a></li><li style ="padding-left:5px;"><a href="#/home/StackTechnology">@Resources.Resource.Technology</a></li><li style ="padding-left:5px"><a href="#/home/Client">@Resources.Resource.Client</a></li><li style ="padding-left:5px"><a href="#/home/Scope">@Resources.Resource.Scope</a></li></ul><ul id="menuContact"><li><span class="link icon-whatsapp"><a href="tel:@Resources.Resource.Phone">@Resources.Resource.Phone</a></span></li><li><div class="dropdown link icon-skype"><span>ihighload</span><div class="dropdown-content" style="background-color: #ededed;border-radius:10px;"><a href="skype:ihighload?call">@Resources.Resource.Skype</a><a href="skype:ihighload?chat">@Resources.Resource.Chat</a></div></div></li><li><span class="link icon-envelop"><a href="mailto:info@ihighload.info">@Resources.Resource.Mail</a></span></li></ul></div>');
            }

        }

        function ResizeHeader() {


            if ($("#headerq").height() == 100) {
                var weightbrowse = window.innerWidth;
                $('div.row.header').animate({
                    width: weightbrowse,
                    height: 140
                });


                $("#menuselect").delay(400).queue(function (next) {
                    $(this).css("visibility", "visible");
                    next();
                });
            }
            else {
                $('div.row.header').animate({
                    width: weightbrowse,
                    height: 100
                });
                $("#menuselect").css("visibility", "hidden");

            }

        }

    </script>
</head>
<body>
    <script>

    </script>
    <div id="fixer">
        <div class="wrapper" id="header">
            <div class="row header" id="headerq">

                <div class="col logo">
                    <img class="brandImage" src="~/Content/Images/brand.png">
                    <p id="brandP">IHighLoad</p>

                </div>




                <div class="col board">
                    <div id="qqqq">
                    </div>
                    <div class="row contact">
                        <ul>
                            <li><span class="link icon-whatsapp"><a href="tel:@Resources.Resource.Phone">@Resources.Resource.Phone</a></span></li>
                            <li>
                                <div class="dropdown link icon-skype">
                                    <span>ihighload</span>
                                    <div class="dropdown-content" style="background-color: #ededed;border-radius:10px;">
                                        <a href="skype:ihighload?call">@Resources.Resource.Skype</a>
                                        <a href="skype:ihighload?chat">@Resources.Resource.Chat</a>
                                    </div>
                                </div>
                            </li>
                            <li><span class="link icon-envelop"><a href="mailto:info@ihighload.info">@Resources.Resource.Mail</a></span></li>
                            <li><span> <a href="~/home/ChangeCulture?lang=en"><span>EN</span></a> <span>/</span> <a href="~/home/ChangeCulture?lang=ru"><span>RU</span></a></span></li>

                        </ul>
                    </div>
                    <div class="row menu">
                        <ul id="Ulindex">
                            <li><a href="#/"><span>@Resources.Resource.ServerSolution</span></a></li>
                            <li><a href="#/home/StackTechnology"><span>@Resources.Resource.Technology</span></a></li>
                            <li><a href="#/home/Client"><span>@Resources.Resource.Client</span></a></li>
                            <li><a href="#/home/Scope"><span>@Resources.Resource.Scope</span></a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        @RenderBody()
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", false)
        <div class="footer" id="footer">
            <p style="text-align: center; padding-top:15px;">Copyright © 2016 All Rights Reserved</p>
        </div>
    </div>
</body>
</html>